.jumbotron{
    background-color: #ffe4c4;
    padding-top: 150px;
}

.about-section{
    padding-top: 100px;
}

.project-section{
    padding-top: 100px;
}

.tool-skills-section{
    padding-top: 100px;
}

.contact-section{
    padding-top: 100px;
}